[submodule "HomeAssistant"]
	path = HomeAssistant
	url = https://github.com/home-assistant/home-assistant.git
[submodule "alertR"]
	path = alertR
	url = https://github.com/sqall01/alertR.git
[submodule "souliss"]
	path = souliss
	url = https://github.com/souliss/souliss.git
[submodule "openHCAN/openHCANd"]
	path = openHCAN/openHCANd
	url = https://github.com/hcanIngo/openHCANd.git
[submodule "openHCAN/openHCAN"]
	path = openHCAN/openHCAN
	url = https://github.com/hcanIngo/openHCAN.git
[submodule "Home-Monitoring-Raspberry-Pi-Node"]
	path = Home-Monitoring-Raspberry-Pi-Node
	url = https://github.com/orosandrei/Home-Monitoring-Raspberry-Pi-Node.git
[submodule "kotihome"]
	path = kotihome
	url = https://github.com/arturi/kotihome.git
[submodule "it-gets-the-hose-again"]
	path = it-gets-the-hose-again
	url = https://github.com/mrsharpoblunto/it-gets-the-hose-again.git
[submodule "home-automation"]
	path = home-automation
	url = https://github.com/deepsyx/home-automation.git
[submodule "pimatic"]
	path = pimatic
	url = https://github.com/pimatic/pimatic.git
[submodule "Aurora/Aurora-Server"]
	path = Aurora/Aurora-Server
	url = https://github.com/urcoilbisurco/Aurora-Server.git
[submodule "Aurora/Aurora-Nodes"]
	path = Aurora/Aurora-Nodes
	url = https://github.com/urcoilbisurco/Aurora-Nodes.git
[submodule "Aurora/Aurora"]
	path = Aurora/Aurora
	url = https://github.com/urcoilbisurco/Aurora.git
[submodule "Aurora/Aurora-Raspberry"]
	path = Aurora/Aurora-Raspberry
	url = https://github.com/urcoilbisurco/Aurora-Raspberry.git
[submodule "homebridge"]
	path = HomeBridge/homebridge
	url = https://github.com/nfarina/homebridge.git
[submodule "homebridge-icontrol"]
	path = homebridge-icontrol
	url = https://github.com/nfarina/homebridge-icontrol.git
[submodule "icontrol"]
	path = icontrol
	url = https://github.com/nfarina/icontrol.git
[submodule "homebridge-philipshue"]
	path = homebridge-philipshue
	url = https://github.com/nfarina/homebridge-philipshue.git
[submodule "majordomo"]
	path = majordomo
	url = https://github.com/sergejey/majordomo.git
[submodule "mycontroller"]
	path = mycontroller
	url = https://github.com/mycontroller-org/mycontroller.git
[submodule "heimcontrol.js"]
	path = heimcontrol.js
	url = https://github.com/ni-c/heimcontrol.js.git
[submodule "SmartHome"]
	path = React-SmartHome
	url = https://github.com/Parinyadahmi/SmartHome.git
[submodule "switchBoard"]
	path = switchBoard
	url = https://github.com/imbrianj/switchBoard.git
[submodule "garage-door-hacks"]
	path = garage-door-hacks
	url = https://github.com/bobey/garage-door-hacks.git
[submodule "rpi-web-control"]
	path = rpi-web-control
	url = https://github.com/openhomeautomation/rpi-web-control.git
[submodule "home-controll"]
	path = home-controll
	url = https://github.com/VolodymyrTymets/home-controll.git
[submodule "OpenMotics/hardware"]
	path = OpenMotics/hardware
	url = https://github.com/openmotics/hardware.git
[submodule "OpenMotics/gateway-frontend"]
	path = OpenMotics/gateway-frontend
	url = https://github.com/openmotics/gateway-frontend.git
[submodule "OpenMotics/home-assistant"]
	path = OpenMotics/home-assistant
	url = https://github.com/openmotics/home-assistant.git
[submodule "OpenMotics/gateway"]
	path = OpenMotics/gateway
	url = https://github.com/openmotics/gateway.git
[submodule "OpenMotics/firmware-bootloader-rs485-slaves"]
	path = OpenMotics/firmware-bootloader-rs485-slaves
	url = https://github.com/openmotics/firmware-bootloader-rs485-slaves.git
[submodule "OpenMotics/plugins"]
	path = OpenMotics/plugins
	url = https://github.com/openmotics/plugins.git
[submodule "OpenMotics/sdk"]
	path = OpenMotics/sdk
	url = https://github.com/openmotics/sdk.git
[submodule "Kaazing/kaazingPi"]
	path = Kaazing/kaazingPi
	url = https://github.com/dpwspoon/kaazingPi.git
[submodule "HomePi/rcswitch-rest"]
	path = HomePi/rcswitch-rest
	url = https://github.com/denschu/rcswitch-rest
[submodule "HomePi/home.pi"]
	path = HomePi/home.pi
	url = https://github.com/denschu/home.pi
[submodule "HomePi/rcswitch-pi"]
	path = HomePi/rcswitch-pi
	url = https://github.com/denschu/rcswitch-pi
[submodule "HomeGenie"]
	path = HomeGenie
	url = https://github.com/genielabs/HomeGenie.git
[submodule "CometVisu"]
	path = CometVisu
	url = https://github.com/CometVisu/CometVisu.git
[submodule "smarthome"]
	path = smarthome
	url = https://github.com/cecchisandrone/smarthome.git
[submodule "Insteon-Smarthome"]
	path = Insteon-Smarthome
	url = https://github.com/jigsheth57/smarthome.git
[submodule "Dashboard"]
	path = Dashboard
	url = https://github.com/dippnerd/Dashboard.git
[submodule "home-control-panel"]
	path = home-control-panel
	url = https://github.com/dippnerd/home-control-panel.git
[submodule "rbpiDashboard"]
	path = rbpiDashboard
	url = https://github.com/valentinp72/rbpiDashboard.git
[submodule "kerberos-io/machinery"]
	path = kerberos-io/machinery
	url = https://github.com/kerberos-io/machinery.git
[submodule "kerberos-io/web"]
	path = kerberos-io/web
	url = https://github.com/kerberos-io/web.git
[submodule "raspberry-pi-camera"]
	path = raspberry-pi-camera
	url = https://github.com/kajalv/raspberry-pi-camera.git
[submodule "Smart-Security-Camera"]
	path = Smart-Security-Camera
	url = https://github.com/HackerShackOfficial/Smart-Security-Camera.git
[submodule "picamera"]
	path = picamera
	url = https://github.com/waveform80/picamera.git
[submodule "MotionEye/motioneyeos"]
	path = MotionEye/motioneyeos
	url = https://github.com/ccrisan/motioneyeos.git
[submodule "MotionEye/motioneye"]
	path = MotionEye/motioneye
	url = https://github.com/ccrisan/motioneye.git
[submodule "Calaos/calaos_base"]
	path = Calaos/calaos_base
	url = https://github.com/calaos/calaos_base.git
[submodule "Calaos/calaos-os"]
	path = Calaos/calaos-os
	url = https://github.com/calaos/calaos-os.git
[submodule "Calaos/calaos_mobile"]
	path = Calaos/calaos_mobile
	url = https://github.com/calaos/calaos_mobile.git
[submodule "Calaos/calaos-web-app"]
	path = Calaos/calaos-web-app
	url = https://github.com/calaos/calaos-web-app.git
[submodule "Calaos/calaos_web"]
	path = Calaos/calaos_web
	url = https://github.com/calaos/calaos_web.git
[submodule "Calaos/calaos-os-update-ws"]
	path = Calaos/calaos-os-update-ws
	url = https://github.com/calaos/calaos-os-update-ws.git
[submodule "domoticz"]
	path = domoticz
	url = https://github.com/domoticz/domoticz.git
[submodule "smarthomatic"]
	path = smarthomatic
	url = https://github.com/breaker27/smarthomatic.git
[submodule "misterhouse"]
	path = misterhouse
	url = https://github.com/hollie/misterhouse.git
[submodule "OpenNetHome/NetHomeServer"]
	path = OpenNetHome/NetHomeServer
	url = https://github.com/NetHome/NetHomeServer.git
[submodule "OpenNetHome/ProtocolAnalyzer"]
	path = OpenNetHome/ProtocolAnalyzer
	url = https://github.com/NetHome/ProtocolAnalyzer.git
[submodule "OpenNetHome/ZWave"]
	path = OpenNetHome/ZWave
	url = https://github.com/NetHome/ZWave.git
[submodule "OpenNetHome/Scanner"]
	path = OpenNetHome/Scanner
	url = https://github.com/NetHome/Scanner.git
[submodule "OpenNetHome/Coders"]
	path = OpenNetHome/Coders
	url = https://github.com/NetHome/Coders.git
[submodule "OpenNetHome/Utils"]
	path = OpenNetHome/Utils
	url = https://github.com/NetHome/Utils.git
[submodule "OpenNetHome/CULFirmware"]
	path = OpenNetHome/CULFirmware
	url = https://github.com/NetHome/CULFirmware.git
[submodule "Jeedom/core"]
	path = Jeedom/core
	url = https://github.com/jeedom/core.git
[submodule "Kinoma/kinomajs"]
	path = Kinoma/kinomajs
	url = https://github.com/Kinoma/kinomajs.git
[submodule "OpenHybrid/HybridObject"]
	path = OpenHybrid/HybridObject
	url = https://github.com/openhybrid/HybridObject.git
[submodule "OpenHybrid/editor"]
	path = OpenHybrid/editor
	url = https://github.com/openhybrid/editor.git
[submodule "OpenHybrid/object"]
	path = OpenHybrid/object
	url = https://github.com/openhybrid/object.git
[submodule "smart-homes-pi-zero"]
	path = smart-homes-pi-zero
	url = https://github.com/openhomeautomation/smart-homes-pi-zero.git
[submodule "AdrianSmartAssistant"]
	path = AdrianSmartAssistant
	url = https://github.com/TheAdrianProject/AdrianSmartAssistant.git
[submodule "NextDom/NextDom"]
	path = NextDom/NextDom
	url = https://github.com/NextDom/NextDom.git
[submodule "NextDom/custom-jeedom"]
	path = NextDom/custom-jeedom
	url = https://github.com/NextDom/custom-jeedom.git
[submodule "pi-house"]
	path = pi-house
	url = https://github.com/pubnub/pi-house.git
