[submodule "HomeAssistant"]
	path = HomeAssistant
	url = https://github.com/home-assistant/home-assistant.git
[submodule "alertR"]
	path = alertR
	url = https://github.com/sqall01/alertR.git
[submodule "souliss"]
	path = souliss
	url = https://github.com/souliss/souliss.git
[submodule "openHCAN/openHCANd"]
	path = openHCAN/openHCANd
	url = https://github.com/hcanIngo/openHCANd.git
[submodule "openHCAN/openHCAN"]
	path = openHCAN/openHCAN
	url = https://github.com/hcanIngo/openHCAN.git
