[submodule "HomeAssistant"]
	path = HomeAssistant
	url = https://github.com/home-assistant/home-assistant.git
[submodule "alertR"]
	path = alertR
	url = https://github.com/sqall01/alertR.git
[submodule "souliss"]
	path = souliss
	url = https://github.com/souliss/souliss.git
